<div class="section-principale">
    <video 
        class="video-arriere-plan" 
        playsinline 
        autoplay 
        muted 
        loop 
        poster="/images/agora_v1_elendil.png">
        <source src="/videos/cinematique1.mp4" type="video/mp4">
        Votre navigateur ne prend pas en charge la vidéo.
    </video>

    <div class="contenu-section">
        <div class="espace-gauche"></div>

        <div class="effet-lumiere">
            <div class="bloc-texte">
                <h1>Valorium</h1>
                <p class="texte-descriptif">
                    Association loi 1901 qui unit les univers virtuels, 
                    stimule leur développement grâce à des solutions techniques innovantes,
                    et renforce les liens entre leurs communautés.
                </p>

                <div class="bouton-style">
                    <span></span>
                    <a href="#presentation">Découvrir</a>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>






@* <div class="section-principale">

    <video class="video-arriere-plan" playsinline autoplay muted loop>
        <source src="/videos/cinematique1.mp4" type="video/mp4">
    </video>

    <div class="contenu-section">

        <div class="espace-gauche"></div>

        <div class="effet-lumiere">

            <div class="bloc-texte">

                <h1>Valorium</h1>
                <p class="texte-descriptif">
                    Association loi 1901 qui unit les univers virtuels, 
                    stimule leur développement grâce à des solutions techniques innovantes,
                     et renforce les liens entre leurs communautés.</p>

                <div class="bouton-style">

                    <span></span>

                    <a href="#presentation">
                        Découvrir
                    </a>

                    <span></span>
                </div>

            </div>

        </div>

    </div>
</div> *@
