<div class="bloc-principal">

    <video class="video-fond" playsinline autoplay muted loop>
        <source src="/videos/cinematique1.mp4" type="video/mp4">
    </video>

    <div class="contenu">

        <div class="marge-gauche"></div>

        <div class="lueur-bleue">

            <div class="bloc-interne">

                <h1>Valorium</h1>
                <p class="texte-large">
                    Association loi 1901 travaillant à l'union d'univers virtuels, à leur développement ainsi qu'à la collaboration et l'échange entre leurs communautés.
                </p>


                <div class="button">

                    <span></span>


                    <a href="#presentation">
                        Découvrir
                    </a>

                    <span></span>
                </div>





            </div>

        </div>

    </div>
</div>
