<div class="bloc-principal">

    <video class="video-fond" playsinline autoplay muted loop>
        <source src="/videos/cinematique1.mp4" type="video/mp4">
    </video>

    <div class="contenu">

        <div class="marge-gauche"></div>

        <div class="lueur-bleue">

            <div class="bloc-interne">

                <h1>Valorium</h1>
                <p class="texte-large">
                    Ensemble, nous pouvons donner vie à vos idées et créer des vidéos qui captivent votre public.
                </p>

                <button>En savoir plus</button>
            </div>

        </div>

    </div>
</div>
