<div class="conteneur">

    <div class="section-texte">

        <h2>@titre</h2>

        <p>
            @texte
        </p>
        <br />
    </div>

    <div class="section-image">

        <img src="@cheminImage" alt="Zaap Elendil">

    </div>
</div>





@* <div class="conteneur">

    <div class="section-texte">

        <h2>Introduction</h2>

        <p>
            Notre vision se concentre sur l'échange et la collaboration durable au sein de la communauté Minecraft francophone. Nous visons à :

            <br />
            <br />

            - Encourager le partage et l'entraide pour renforcer la pérennité et le développement des acteurs.

            <br />
            <br />
            
            - Soutenir la création de projets d'envergure par la collaboration, surpassant les réalisations individuelles.
            
            <br />
            <br />

            - Forger une vision collective et un avenir prometteur pour notre communauté, en analysant ses tendances et aspirations.
        </p>
        <br />
    </div>

    <div class="section-image">

        <img src="https://elendilmc.fr/wp-content/uploads/2023/04/agora2-1536x814.png" alt="Zaap Elendil">

    </div>
</div>
 *@