@page "/"

@using siteValorium.composants.composantTest
@using siteValorium.composants.navbar
@using siteValorium.composants.hautDePage

<div class="contenuPage">

    <Navbar />

    <div class="HautDePage">
        <HautDePage />
    </div>

</div>

