@page "/"

@using siteValorium.composants.navbar
@using siteValorium.composants.hautDePage
@using siteValorium.composants.blocImageTexteV1
@using siteValorium.composants.carteOpaque
@using siteValorium.composants.blocVideoTexteV1
@using siteValorium.composants.blocImageTexteV2
@using siteValorium.composants.blocTexteSurGradient
@using siteValorium.composants.anchorNavigation

<div class="contenu-page">

    <AnchorNavigation />

    <Navbar />

    <div class="bloc-contenu">

        <div class="haut-de-page">
            <HautDePage />
        </div>

        <div id="presentation" class="bloc-video bloc-image-texte">
            <BlocImageTexteV1 cheminImage="/images/lab.webp"
                              titre="Notre projet"
                              texte="@texteVision" />
        </div>

        <div id="actualites" class="grand-titre">
            <h2>Actualités</h2>
        </div>

        <div class="bloc-gradient bloc-actus">
            <CarteOpaque titre="Première grande assemblée"
                         contenu="D'ici quelques semaines, les premiers acteurs influents de la communauté francophone se rassembleront autour d'une même table pour discuter d'un avenir commun et initier une collaboration active autour de projets prometteurs." />

            <CarteOpaque titre="Sortie du Discord officiel"
                         contenu="Après plusieurs mois de réflexion et de préparation, ce n'est plus qu'une question de jours avant que le Discord officiel de Valorium, point central et fédérateur de notre communauté, n'ouvre au public !" />

            <CarteOpaque titre="Développement du site"
                         contenu="Toujours en cours de développement, la version finale du site remplacera l'actuelle au cours du printemps à venir." />
        </div>

        <div class="bloc-video">
            <BlocVideoTexteV1 titre="Minecraft : un support de création"
                              cheminVideo="https://www.youtube.com/embed/xJzW9-j3BB0?si=A9Gfo3Hl9FbWOfH9&autoplay=1&mute=1&loop=1&playlist=xJzW9-j3BB0"
                              texte="@texteMinecraft" />
        </div>

        <div id="emrub" class="bloc-video">
            <BlocImageTexteV1 cheminImage="/images/agora.webp"
                              titre="Emrub : Notre univers en jeu"
                              texte="@texteEmrub" />
        </div>

        <div class="bloc-video">
            <BlocTexteSurGradient titre="Mettre en valeur le travail bénévole."
                                  contenu="@texteAssos" />
        </div>

    </div>

    <div class="fin-de-page"></div>

</div>

@code {

    private MarkupString texteVision = new MarkupString(
    "Le cœur de nos travaux consiste en la création d'échanges et de collaborations entre les acteurs de Minecraft francophone. Nous œuvrons ainsi à : " +

        "<br /><br />" +

        "- Favoriser le partage d'expériences et de ressources entre les acteurs, dans l'optique de perdurer et de se développer durablement.<br /><br />" +

        "- Créer un cadre propice à la collaboration entre différents acteurs pour mener des projets techniques et communautaires d'envergure.<br /><br />" +

        "- Inscrire nos communautés et serveurs dans une vision d'univers virtuel, prémices des futurs métavers."
    );


    private MarkupString texteMinecraft = new MarkupString(

        "Du fait de l'ampleur et du dynamisme de sa communauté, la plus grande au monde autour d'un jeu vidéo, Minecraft a été choisi " +
        "comme support principal de création du Valorium. <br><br> Des API sophistiquées, en amélioration continue, nous permettent de " +
        "développer des solutions techniques particulièrement avancées, telles que des mods ou encore des plugins. <br> <br> Fruits d'immenses " +
        "travaux menés par de nombreux développeurs dans les domaines des calculs de lumière et de la distance de rendu, les graphismes du jeu " +
        "atteignent désormais ceux des plus grands mondes ouverts, connus et reconnus."

    );

    private MarkupString texteAssos = new MarkupString(

        "En créant l'association Valorium, notre volonté est de valoriser et de faire reconnaître le travail " +
        "bénévole, qu'il s'agisse de développement informatique, de conception de niveaux ou de gestion de communauté, " +
        "mené depuis plusieurs années au sein de notre communauté."
    );

    private MarkupString texteEmrub = new MarkupString(
    
        "Emrub est l'un des projets principaux de Valorium. Il consiste à relier, depuis le jeu via des portails, une multitude de serveurs de manière  " + 
        "à ce qu'ils deviennent des régions d'un grand monde uni et cohérent." + 
        " <br> <br> L'élaboration du réseau d'Emrub et sa capacité à transférer des joueurs entre des serveurs autonomes dans leur administration " + 
        "constitue l'un des travaux centraux de Valorium d'un point de vue technique. <br><br> Emrub, c'est aussi la volonté de créer une immersion profonde pour le joueur dans le monde, d'offrir une " + 
        "nouvelle façon de jouer en multijoueur."
    );
}
