:root {
    font-size: 20px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.contenu-page {
    font-family: Candara;
}

.bloc-contenu {
    margin: 0 6%;
}

.haut-de-page {
    margin: 9vh 0 13vh 0;
}

.bloc-video {
    margin: 10vh 0 18vh 0;
}

.bloc-actus {
    margin-bottom: 18vh;
    margin-top: 3.7vh;
}

.bloc-gradient {
    background-image: url('/images/zaap.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50vh;
    border-radius: 30px;
}

.grand-titre h2 {
    margin-top: 8vh;
    font-family: Candara;
    font-size: 6vh;
    color: white;
    margin-left: 2.7%;
}

.fin-de-page {
    height: 20vh;
}

@media (max-width: 1024px) {
    .bloc-gradient {
        flex-direction: column;
        background-image: none;
        padding: 20px 0;
    }

    .bloc-gradient .bloc-video {
        margin-bottom: 20px;
    }

    .bloc-gradient .bloc-video:last-child {
        margin-bottom: 0;
    }

    .haut-de-page {
        margin-bottom: 10vh;
    }

    .bloc-video {
        margin: 5vh 0 10vh 0;
    }

    .bloc-contenu {
        margin: 0 4%;
    }
}
