/* Style pour le conteneur du lecteur vidéo */
.video {
    position: relative;
    width: 100%; /* La largeur du conteneur prend 100% de la largeur disponible */
    padding-bottom: 56.25%; /* Rapport d'aspect 16:9 (hauteur = largeur * 9 / 16) */
    overflow: hidden;
    border-radius: 10px;
}

    /* Style pour l'iframe du lecteur vidéo */
    .video iframe {
        position: absolute;
        width: 100%; /* L'iframe prend 100% de la largeur du conteneur */
        height: 100%; /* L'iframe prend 100% de la hauteur du conteneur */
        top: 0;
        left: 0;
    }