.navbar {
    background-color: black; /* Fond noir */
    height: 90px; /* Épaisseur de 50px */
    width: 100%; /* Occupe toute la largeur de l'écran */
    display: flex; /* Utilise un modèle de boîte flexible pour les boutons côte à côte */
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */

}


    .navbar a {
        color: white; /* Couleur du texte */
        text-decoration: none; /* Enlève la soulignement du lien */
        padding: 10px 20px; /* Espacement interne des boutons */
        margin: 0 10px; /* Marge entre les boutons */

        font-family: Calibri;
        font-size: 18px;
    }
