<head>
    <link rel="stylesheet" href="/css/composants/videos/videoBordsArrondis/VideoBordsArrondis.css"
</head>

<div class="video">
    <iframe src="@LienVideo" frameborder="0"></iframe>
</div>

