@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudScrollToTop>
    <MudFab Color="Color.Dark" StartIcon="@Icons.Material.Filled.ArrowCircleUp" />
</MudScrollToTop>

<main> @Body </main>
