.conteneur {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Candara;
    color: white;
}

h2 {
    font-size: 5vh;
}

.section-texte {
    width: 50%;
    padding: 0 2%;
}

    .section-texte h2 {
        margin-bottom: 0.5em;
    }

    .section-texte p {
        font-size: 2.5vh;
    }

.section-image {
    width: 50%;
    padding: 0 2%;
}

    .section-image img {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        width: 100%;
        border-radius: 20px;
        display: block;
    }
