<div class="bloc-conteneur">

    <div class="bloc-image">
        <img src="@cheminImage" alt="Zaap Elendil">
    </div>

    <div class="bloc-texte">
        <h2>@titre</h2>
        <p>
            @texte
        </p>
        <br />
    </div>

</div>
