.arriere-plan-degrade {
    background: linear-gradient(319deg, rgba(46, 156, 219, 1) 13%, rgba(34, 37, 80, 1) 90%);
    color: white;
    border-radius: 20px;
    padding: 2% 3.5%;
    margin: 0 4%;
    font-family: Candara;
}

.arriere-plan-degrade h2 {
    color: white;
    font-family: Candara;
    font-size: 2.4rem;
}

.arriere-plan-degrade p {
    color: white;
    font-family: Candara;
    font-size: 1.3rem;
}
