.gradient-background {

    background: rgb(46,156,219);
    background: linear-gradient(319deg, rgba(46,156,219,1) 13%, rgba(34,37,80,1) 90%);

    color: white;
    border-radius: 20px;


    padding-top : 0.1%;
    padding-left : 3%;
    padding-right : 3%;
    padding-bottom : 1%;

    margin-left : 7%;
    margin-right : 7%;
}

    .gradient-background h1 {
        color: white;

        font-family: Candara;

        font-size: 3.5vh;
    }
    .gradient-background p {
        color: white; 
        font-family : Candara;

        font-size : 2.5vh;

    }
