<nav class="navbar">

    <div class="logo">
        <img src="/images/logoValorium.webp" alt="Logo">
    </div>

    <div class="navigation">

        <a href="/">Accueil</a>
        <a href="/">Présentation</a>
        <a href="/serveurs">Actualités</a>

	</div><link href="c:\users\jeanm\onedrive\documents\dev\minecraft\site_valorium\sitevalorium\composants\navbar\navbar.razor.css" rel="stylesheet" />

    <button class="gradient-button">
        <img src="/images/discord-white-icon.png" alt="logoDiscord" class="button-icon">
        Discord
    </button>

</nav>