<nav class="navbar">

    <div class="logo">
        <img src="/images/logoValorium.webp" alt="Logo">
    </div>

    <div class="navigation">
        <a href="/">Accueil</a>
        <a href="/">Présentation</a>

        <a href="/serveurs">Actualités</a>

    </div>



    <button class="gradient-button">Discord</button>
</nav>