<nav class="navbar">
    <div class="logo">
        <img src="/images/logoValorium.webp" alt="Logo">
    </div>
    <div class="navigation">
        <a class="nav-effect" href="/">A propos</a>
        <a class="nav-effect" href="/">Actualités</a>
        <a class="nav-effect" href="/serveurs">Emrub</a>
    </div>
    <button class="gradient-button" @ref="elementRef">
        <img src="/images/discord-white-icon.png" alt="logoDiscord" class="button-icon">
        Discord
    </button>
</nav>


