@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ma Application Blazor</title>
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <div>
        <header>
            <h1>Mon Header gnaaaaaa </h1>
        </header>

        <div class="content">
            <!-- Contenu de la page spécifique -->
            @Body
        </div>

        <footer>
            <p>&copy; 2023 Ma Application Blazor</p>
        </footer>
    </div>
</body>
</html>