<head>
    <link rel="stylesheet" href="css/composants/navBars/NavBarPrincipale.css">
</head>

<nav class="navbar">
    <a href="#">À propos</a>
    <a href="#">Serveurs</a>
    <a href="#">Communautés</a>
    <a href="#">Articles</a>
    <a href="#">L'équipe</a>
</nav>