<head>
    <link rel="stylesheet" href="/css/composants/images/imageBordsArrondis/ImageBordsArrondis.css">
</head>

<div class="image">
    <img src="@EmplacementImage" alt="Description de l'image">
</div>