@page "/"
@layout siteValorium.shared.layouts.LayoutPrincipal


<head>
    <link rel="stylesheet" href="css/pages/index.css">
</head>

<section class="intro">

    <div class="introTexte">

        <h2>Le Valorium</h2>

        <p> Le Valorium est un organisme œuvrant dans le domaine des 
            communautés et univers virtuels. Structuré autour d'une association 
            loi 1901, la majeure partie de ses activités et projets à l'heure 
            actuelle sont axés autour de Minecraft. </p>
    </div>

    <div class="spaceBetween"></div>

    <div class="introImage">
        @* <siteValorium.composants.images.imageBordsArrondis.ImageBordsArrondis DescriptionImage="zaap d'Elendil" EmplacementImage="/ressources/images/zaap1.webp" /> *@
        <siteValorium.composants.images.videos.videoBordsArrondis.VideoBordsArrondis IdVideo="JBoUwElRFVM" />
    </div>
    
</section>

<siteValorium.composants.images.videos.videoBordsArrondis.VideoBordsArrondis IdVideo="JBoUwElRFVM"/>

<h1>Adiu !</h1>


