@page "/utilisateurs"
<h3>PageUtilisateurs</h3>

<table>
	<thead>
		<tr>
			<th> Nom </th>
			<th> ID </th>
			<th> Description </th>
			<th> Date de création </th>
		</tr>
	</thead>
	<tbody>
		@foreach(var user in utilisateurs)
		{
			<tr>
				<td> @user.Nom </td>
				<td> @user.Id</td>
				<td> @user.Description </td>
				<td> @user.DateCreation </td>
			</tr>
		}
	</tbody>
</table>



