.bloc-conteneur {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Candara;
    color: white;
}

.bloc-texte, .bloc-media {
    width: 50%;
    padding: 0 2%;
}

.bloc-texte h2 {
    font-size: 2.4rem;
    margin-bottom: 0.5em;
}

.bloc-texte p {
    font-size: 1.3rem;
}

/* Conteneur vidéo */
.bloc-media {
    height: auto;
}

.video-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Maintient un ratio 16:9 */
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
}

@media (max-width: 1024px) {
    .bloc-conteneur {
        flex-direction: column;
        align-items: stretch;
    }

    .bloc-texte, .bloc-media {
        width: 100%;
        padding: 0 5%;
    }

    .bloc-texte {
        margin-top: 2.2vw;
    }

    .bloc-media {
        order: -1; /* Vidéo en premier sur mobile */
    }
}











/* .bloc-conteneur {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Candara;
    color: white;
}

.bloc-texte, .bloc-media {
    width: 50%;
    padding: 0 2%;
}

.bloc-texte h2 {
    font-size: 2.4rem;
    margin-bottom: 0.5em;
}

.bloc-texte p {
    font-size: 1.3rem;
}

.bloc-media {
    height: 45vh;
}

.bloc-media iframe {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

@media (max-width: 1024px) {
    .bloc-conteneur {
        flex-direction: column;
        align-items: stretch;
    }

    .bloc-texte, .bloc-media {
        width: 100%;
        padding: 0 5%;
    }

    .bloc-media {
        height: auto;
        order: -1;
    }
} */
