<div class="bloc-conteneur">

    <div class="bloc-media">
        <div class="video-wrapper">
            <iframe 
                src="@cheminVideo" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                style="pointer-events: none;">
            </iframe>
        </div>
    </div>

    <div class="bloc-texte">
        <h2>@titre</h2>
        <p>@texte</p>
        <br />
    </div>

</div>