<div class="conteneur">

    <div class="section-media">
    <!-- Player YouTube -->
    <iframe src="@cheminVideo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" style="pointer-events: none;"></iframe>
</div>


    <div class="section-texte">
        <h2>@titre</h2>
        <p>@texte</p>
        <br />
    </div>

</div>
